// about section
section#about
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading about
        h3.section-subheading.text-muted
          | my background is in a nutshell below. to see my process in action, be sure to check out my 
          a(href='https://www.awkwardengineer.com/blogs/awkward-engineer-blog') blog
          | .
    .row.text-center
    
      .col-md-4
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-primary
          i.fa.fa-graduation-cap.fa-stack-1x.fa-inverse
        h3.service-heading Education
        h5.text-left B.S. Mechanical Engineering, WPI '07, High Honors
        p.text-muted.text-left
          | Typically it's the letter "A" in STEAM (Science, Technology, Engineering, Art, and Math) and a new project that's given me cause to continue my education. I've taken grad classes at Tufts, MIT, and MassART and I've taken online classes at Coursera and MITx. I self teach and I read voraciously.
        .row
          .col-md-6
            p.text-muted.text-left(style="font-size:x-small;")
              |- Purple Cow
              br
              |- Permission Marketing 
              br
              |- The Brand Gap
              br
              |- Zag
              br
              |- Crossing the Chasm
              br
              |- Jab Jab Jab, Right Hook
              br
              |- The Marketing Playbook
              br
              br
              |- Getting to Yes
              br
              |- Never Split the Difference
              br
              |- Solution Selling
              br
              br
              |- Innovator's Dilemma
              br
              |- Innovator's Solution
              br
              |- Founder's Dilemmas
              br
              |- Jobs to be Done
              br
              |- Business Model Generation
              br
              |- Lean Startup
              br
              |- The 4 Steps To The Epiphany
              br
              br
              |- Guns, Germs And Steel
              br
              |- Why Nations Fail
              br
              |- Bird By Bird
              br
              |- Thinking Fast and Slow
          .col-md-6
            p.text-muted.text-left(style="font-size:x-small;")
              |- The Toy & Game Inventor's Handbook
              br
              |- Design Of Everyday Things
              br
              |- Making It
              br
              |- The Non-Designer's Design Book 
              br
              |- Laws Of Simplicity
              br
              |- Why We Buy
              br
              |- The Visual Display Of Quantitative Information
              br
              br
              |- Product Design For Manufacture & Assembly
              br
              |- Introduction to Algorithm's
              br
              |- Embedded Linux Primer
              br
              |- Serverless Single Page Apps
              br
              |- Developing Technical Training
              br
              br
              |- Skunkworks
              br
              |- Creativity Inc.
              br
              |- How Stella Saved The Farm
              br
              |- Scrum: The Art Of Doing Twice The Work In Half The Time
              br
              |- Orbiting The Hairball
              br
      
      .col-md-4
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-primary
          i.fa.fa-money.fa-stack-1x.fa-inverse
        h3.service-heading Entrepreneurship
        h5.text-left wrightgrid, llc
        p.text-muted.text-left
          | Cofounder / Head of Product Development - as the company grew from a bootstrapped operation to an angel funded company, I became responsible for hiring the engineering team, mentoring the electrical and embedded engineers,  milestone and schedule planning, and overall product direction and execution.
        p.text-muted.text-left
          | On less than $400k of outside investment, we shipped a small fleet of cloud connected, solar powered cell phone charging kiosks to various countries in Africa.
        h5.text-left awkward engineer (product)
        p.text-muted.text-left
          | Completely solo endeavor turned a $500 initial investment into a 5 figure annual passive income stream. Focus has been on consumer goods, with distribution through online and traditional retail channels. Work has resulted in independent product launches, licensing deals, and a 700% funded Kickstarter campaign. see 
          a(href='http://www.awkwardengineer.com') www.awkwardengineer.com
        h5.text-left awkward engineer (consulting)
        p.text-muted.text-left
          | Work has included road mapping and spend planning for a new IoT venture, creating system architectures for a highly integrated electromechanical medical device, and also basic mechanical and electrical design work.
      .col-md-4
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-primary
          i.fa.fa-cogs.fa-stack-1x.fa-inverse
        h3.service-heading Skills
        h5.text-left Engineering
        p.text-muted.text-left
          | electromechanical systems engineering
          br
          | design for sheet metal, injection molding, machining
          br
          | DFMA 
          br
          | C.M. / vendor management
          br
          | rapid prototyping
          br
          | embedded C / arduino
          br
          | circuit board design / layout
          br
          | javascript / python
          br 
          | AWS 
        h5.text-left Design 
        p.text-muted.text-left
          | graphic design 
          br
          | industrial design 
          br
          | html / css / javascript
          br
          | photography
        h5.text-left Business
        p.text-muted.text-left
          | spend planning
          br
          | team planning / hiring
          br
          | business modeling
          br
          | product launch / Kickstarter marketing
          br
