section#contact_.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Contact
        h3.section-subheading.text-muted How to find me.
    .row
      .col-md-3.col-md-offset-3
        .team-member
          img.img-responsive.img-circle(src='img/team/Sam Feller.png', alt='')
          // <p class="text-muted"><em>This is what I look like.<em></p>
      .col-md-3.text-center
        h4
          br
          br
          br
          | Sam Feller
        p.text-muted
          a(href='mailto:sam@awkwardengineer.com')
          | sam@awkwardengineer.com
        ul.list-inline.social-buttons
          li
            a(href='https://www.linkedin.com/pub/samuel-feller/36/1b7/46')
              i.fa.fa-linkedin
          li
            a(href='https://twitter.com/awkwardengineer')
              i.fa.fa-twitter
