section#portfolio.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Portfolio
        h3.section-subheading.text-muted Some of my projects.
    .row
      .col-md-4.col-sm-6.portfolio-item
        a.portfolio-link(href='#portfolioModal-phonecharge', data-toggle='modal')
          .portfolio-hover
            .portfolio-hover-content
              i.fa.fa-plus.fa-3x
          img.img-responsive(src='img/portfolio/station.jpg', alt='')
        .portfolio-caption
          h4 Phone Charging Station
          p.text-muted Product Development
      .col-md-4.col-sm-6.portfolio-item
        a.portfolio-link(href='#portfolioModal-Clock', data-toggle='modal')
          .portfolio-hover
            .portfolio-hover-content
              i.fa.fa-plus.fa-3x
          img.img-responsive(src='img/portfolio/clock.jpg', alt='')
        .portfolio-caption
          h4 Analog Voltmeter Clock
          p.text-muted Product Development
      .col-md-4.col-sm-6.portfolio-item
        a.portfolio-link(href='#portfolioModal-Radar', data-toggle='modal')
          .portfolio-hover
            .portfolio-hover-content
              i.fa.fa-plus.fa-3x
          img.img-responsive(src='img/portfolio/radar_crop.png', alt='')
        .portfolio-caption
          h4 Radar Dome Lift
          p.text-muted Structural Engineering, FEA
      .col-md-4.col-sm-6.portfolio-item
        a.portfolio-link(href='#portfolioModal-cookie', data-toggle='modal')
          .portfolio-hover
            .portfolio-hover-content
              i.fa.fa-plus.fa-3x
          img.img-responsive(src='img/portfolio/cookie_cup.jpg', alt='')
        .portfolio-caption
          h4 Cookie Dunk Cup
          p.text-muted Product Development
      .col-md-4.col-sm-6.portfolio-item
        a.portfolio-link(href='#portfolioModal-eject', data-toggle='modal')
          .portfolio-hover
            .portfolio-hover-content
              i.fa.fa-plus.fa-3x
          img.img-responsive(src='img/portfolio/eject.jpg', alt='')
        .portfolio-caption
          h4 Panic Button Light Switch
          p.text-muted Product Development
      .col-md-4.col-sm-6.portfolio-item
        a.portfolio-link(href='#portfolioModal-case', data-toggle='modal')
          .portfolio-hover
            .portfolio-hover-content
              i.fa.fa-plus.fa-3x
          img.img-responsive(src='img/portfolio/med_device.jpg', alt='')
        .portfolio-caption
          h4 Plastic Case
          p.text-muted Injection Molding, CAD
      .col-md-4.col-sm-6.portfolio-item
        a.portfolio-link(href='#portfolioModal-robot', data-toggle='modal')
          .portfolio-hover
            .portfolio-hover-content
              i.fa.fa-plus.fa-3x
          img.img-responsive(src='img/portfolio/roofrobot.jpg', alt='')
        .portfolio-caption
          h4 Roof Inspection Robot
          p.text-muted Mechanism Design, Controls
      .col-md-4.col-sm-6.portfolio-item
        a.portfolio-link(href='#portfolioModal-space', data-toggle='modal')
          .portfolio-hover
            .portfolio-hover-content
              i.fa.fa-plus.fa-3x
          img.img-responsive(src='img/portfolio/no_photo.jpg', alt='')
        .portfolio-caption
          h4 Spaceborne Focus Mechanism
          p.text-muted Vibrations, Optics
      .col-md-4.col-sm-6.portfolio-item
        a.portfolio-link(href='#portfolioModal-sketch', data-toggle='modal')
          .portfolio-hover
            .portfolio-hover-content
              i.fa.fa-plus.fa-3x
          img.img-responsive(src='img/portfolio/sketch.jpg', alt='')
        .portfolio-caption
          h4 Sketches
          p.text-muted Industrial Design
