section#process
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Process
        h3.section-subheading.text-muted How I make things.
    .row
      .col-lg-12
        ul.timeline
          li
            .timeline-image
              img.img-square.img-responsive(src='img/about/concept.jpg', alt='')
            .timeline-panel
              .timeline-heading
                h4 Strategy / Concept
              .timeline-body
                p.text-muted(style='text-align:left;')
                  | Strategy and concept generation is all about making connections between what customers need (whether or not they can articulate it) and what is possible. Ideas come from user research, market research, and brainstorming, but ideas alone aren't quite enough. Initial strategies and concepts need to pass an initial sniff test of feasability, which depends on the business case, the resources at hand, and the technological difficulty.
          li.timeline-inverted
            .timeline-image
              img.img-square.img-responsive(src='img/about/prototype.png', alt='')
            .timeline-panel
              .timeline-heading
                h4 Prototyping
              .timeline-body
                p.text-muted
                  | The prototype phase is all about getting things done
                  em quickly
                  | , so you can learn as much as possible, as fast as possible, as cheaply as possible. There's no substitute for plans meeting reality, and prototyping makes that happen sooner. I love 3d printing, arduinos, sketching, cardboard mockups, demo videos, vapor tests, and early (or even mock) sales.
          li
            .timeline-image
              img.img-circle.img-responsive(src='img/about/workslike.jpg', alt='')
            .timeline-panel
              .timeline-heading
                h4 Looks like / works like
              .timeline-body
                p.text-muted
                  | The looks like/works like stage is a lot about risk reduction, settling in on the final appearance of the product and ensuring the feasability and functionality of the parts in question. It might not be exactly the same as the final product, but it's getting close.
          li.timeline-inverted
            .timeline-image
              img.img-circle.img-responsive(src='img/about/quotablealpha.png', alt='')
            .timeline-panel
              .timeline-heading
                h4 Quotable Alpha
              .timeline-body
                p.text-muted
                  | The output of the quotable alpha stage is a design package that can be sent to manufacturers for review and quote. A great deal of design work goes into detailing designs, getting them under revision control, and prepping them for release.
          li
            .timeline-image
              img.img-circle.img-responsive(src='img/about/mfgprep.jpg', alt='')
            .timeline-panel
              .timeline-heading
                h4 Final design / manufacturing prep
              .timeline-body
                p.text-muted
                  | This stage will incorporate feedback from manufacturers, any lessons or changes from an alpha build, and culminates with a final design package to get ready to ramp up production.
          li.timeline-inverted
            .timeline-image
              img.img-circle.img-responsive(src='img/about/release.jpg', alt='')
            .timeline-panel
              .timeline-heading
                h4 Manufacturing Release / Support
              .timeline-body
                p.text-muted
                  | As part of supporting a final release items like first article inspections, test jigs, fixtures, and other items are developed. The end goal is smooth sailing as the production lines run.
