section#process
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Process
        h3.section-subheading.text-muted How I make things.
    .row
      .col-lg-12
        ul.timeline
          li
            .timeline-image
              img.img-square.img-responsive(src='img/about/concept.jpg', alt='')
            .timeline-panel
              .timeline-heading
                h4(style='text-align:center;')
                  | Strategy / Concept 
              .timeline-body
                p.text-muted(style='text-align:left;')
                  | Strategy and concept generation is all about making connections between what customers need (whether or not they can articulate it) and what is possible. Ideas come from user research, market research, and brainstorming, but ideas alone aren't quite enough. Initial strategies and concepts need to pass a sniff test of feasability, which depends on the business case, the resources at hand, and the technological difficulty.
          li.timeline-inverted
            .timeline-image
              img.img-square.img-responsive(src='img/about/prototype.png', alt='')
            .timeline-panel
              .timeline-heading
                h4(style='text-align:center;')
                  | Prototyping
              .timeline-body
                p.text-muted
                  | The prototype phase is all about getting things done 
                  em quickly
                  | , so you can learn as much as possible, as fast as possible, as cheaply as possible. There's no substitute for what happens when ideas meet reality, or when actually users start doing unexpected things. Prototyping makes all that happen sooner. I love 3d printing, Arduinos, sketching, cardboard mockups, demo videos, vapor tests, and early (or even mock) sales.
          li
            .timeline-image
              img.img-circle.img-responsive(src='img/about/workslike.jpg', alt='')
            .timeline-panel
              .timeline-heading
                h4(style='text-align:center;')
                  | Framework 
              .timeline-body
                p.text-muted(style='text-align:left;')
                  | I like to borrow techniques from several disciplines when tackling a plan as large as building out a new product or company. My method is to envision the customer journey, starting with marketing and sales, all the way through setup, use, and end of life, and combine that with a Product Breakdown Structure (a systems engineering technique pioneered by NASA). The journey and systems view of the company show all the pieces that need to be built. Those pieces form the backlog. Iteratively building them out, building some pieces in phases, learning, adjusting, and improving, is the next step.
          li.timeline-inverted
            .timeline-image
              img.img-circle.img-responsive(src='img/about/quotablealpha.png', alt='')
            .timeline-panel
              .timeline-heading
                h4(style='text-align:center;')
                  | Execution
              .timeline-body
                p.text-muted
                  | I prefer to tackle the backlog in a Scrum-ish fashion, meaning I subscribe to the philosphies underpinning Scrum, but often find it necessary to adapt it to the nature of the work being done. The framework from the previous step provides the overall direction and each sprint either adds new capability or improves the existing capability of the company. Often, pieces of the framework can be mocked up in a lean fashion, and built out as they become warranted.  
                  br
                  br
                  | I believe in the power of cross functional teams, with collaborative, iterative development. Sales needs to sell things that engineering can sell and vice versa. I love a culture that celebrates "show and tell" of the work being done across an organization.
          
