section#process
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Process
        h3.section-subheading.text-muted How I make things.
    .row
      .col-lg-12
        ul.timeline
          li
            .timeline-image
              img.img-circle.img-responsive(src='img/about/concept.jpg', alt='')
            .timeline-panel
              .timeline-heading
                h4 Concept
              .timeline-body
                p.text-muted
                  | During the concept phase, I work to understand the context of the problem. I do basic research, look for analogous problems and solutions, and think how all aspects of a business are impacted. This could include branding, the marketing strategy, tooling costs, available technology, etc. Then, I get busy with my sketchbook.
          li.timeline-inverted
            .timeline-image
              img.img-circle.img-responsive(src='img/about/prototype.png', alt='')
            .timeline-panel
              .timeline-heading
                h4 Prototype
              .timeline-body
                p.text-muted
                  | The prototype phase is all about getting things done
                  em quickly
                  | , so you can learn as much as possible, as fast as possible, as cheaply as possible. Work is done using cardboard and foam, Arduinos, 3d printed parts, hobby electronics, and of course, pen and paper.
          li
            .timeline-image
              img.img-circle.img-responsive(src='img/about/workslike.jpg', alt='')
            .timeline-panel
              .timeline-heading
                h4 Looks like / works like
              .timeline-body
                p.text-muted
                  | The looks like/works like stage is a lot about risk reduction, settling in on the final appearance of the product and ensuring the feasability and functionality of the parts in question. It might not be exactly the same as the final product, but it's getting close.
          li.timeline-inverted
            .timeline-image
              img.img-circle.img-responsive(src='img/about/quotablealpha.png', alt='')
            .timeline-panel
              .timeline-heading
                h4 Quotable Alpha
              .timeline-body
                p.text-muted
                  | The output of the quotable alpha stage is a design package that can be sent to manufacturers for review and quote. A great deal of design work goes into detailing designs, getting them under revision control, and prepping them for release.
          li
            .timeline-image
              img.img-circle.img-responsive(src='img/about/mfgprep.jpg', alt='')
            .timeline-panel
              .timeline-heading
                h4 Final design / manufacturing prep
              .timeline-body
                p.text-muted
                  | This stage will incorporate feedback from manufacturers, any lessons or changes from an alpha build, and culminates with a final design package to get ready to ramp up production.
          li.timeline-inverted
            .timeline-image
              img.img-circle.img-responsive(src='img/about/release.jpg', alt='')
            .timeline-panel
              .timeline-heading
                h4 Manufacturing Release / Support
              .timeline-body
                p.text-muted
                  | As part of supporting a final release items like first article inspections, test jigs, fixtures, and other items are developed. The end goal is smooth sailing as the production lines run.
